.bundle/
/.yardoc
/.ruby-version
Gemfile.lock
/gems
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/test/
/tmp/
/test/
/lib/measures/test_results
/lib/measures/*/tests/output
/run
example_project/run
example_project/.bundle/
out.txt
.DS_Store

.rubocop*s3*

# rspec failure tracking
.rspec_status

# Ignore IDE files
/.idea
.vscode/

# running config
runner.conf
# coveralls
.coveralls.yml

example_project/measures/BuildResidentialModel/tests/run